body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  font-weight: 200;
  color: #333;
  margin: 0;
}

a, a:hover, a:active, a:visited {
  color: hsla(209, 26%, 37%, 1.0);
}

h1, h2, h3, h4 {
  font-family: 'Bubblegum Sans', sans-serif;
}

header {
  padding: 10px 0;
  background: hsla(209, 41%, 62%, 1.0);
  color: hsla(208, 26%, 13%, 1.0);
  *zoom: 1;
}

header:before,
header:after {
    content: " ";
    display: table;
}

header:after {
    clear: both;
}

header a {
  text-decoration: none;
}

.header {
  margin: 0 auto;
  width: 800px;
}

.header h1 {
  margin: 0;
  float: left;
  font-size: 32px; 
}

.header ul {
  margin: 0;
  float: right;
  list-style: none;
}

.header ul li {
  font-size: 22px;
  float: left;
  padding: 5px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: #FFF;
}

.header ul li:last-child {
  margin-right: 0;
}

.main {
  margin: 30px auto;
  width: 800px;
}

.list-header {
  text-align: right;
  border-bottom: 1px solid hsla(212, 6%, 44%, 1.0);
  margin-bottom: 20px;
}

.list-header h1 {
  margin-top: 0;
  margin-bottom: 10px;
}

.posts {
  width: 95%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.posts li:before,
.posts li:after {
    content: " ";
    display: table;
}

.posts li:after {
    clear: both;
}

.posts li:first-child {
  border-top: 0;
}

.posts li:last-child {
  border-bottom: 0;
}

.posts li {
  font-size: 18px;
  padding: 5px 4px;  
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

.title {
  font-weight: 500;
  float: left;
}

.date {
  color: #999;
  float: right;
}

article {
  padding-top: 20px;
}

article h1 {
  font-size: 40px;
  border-bottom: 1px solid hsla(212, 6%, 44%, 1.0);
  margin-bottom: 25px;
}

article p {
  margin-top: 0;
  margin-bottom: 20px;
}

footer {
  font-size: 18px;
  border-top: 1px solid hsla(212, 6%, 44%, 1.0);
  margin: 20px auto;
  width: 800px;
}

footer p:last-child {
  text-align: center;
}
