<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ include.post.title }}</h1>

    {% assign d = include.post.date | date: "%-d" %}
    <p class="post-date"><time datetime="{{ include.post.published_at }}">Published {{ include.post.date | date: "%B" }} {% case d %}{% when "1" or "21" or "31" %}{{ d }}st {% when "2" or "22" %}{{ d }}nd {% when "3" or "23" %}{{ d }}rd {% else %}{{ d }}th {% endcase %}{{ include.post.date | date: "%Y" }}</time></p>
  </header>

  <div class="post-content">
    {{ content }}

    {% if !include.post.tags.empty? %}
      <p class="post-tags"><span>Tagged:</span> {{ include.post.tags }}</p>
    {% endif %}
  </div>
</article>
