html, body {
  height: 100%;
}

body {
  background: #fefefe;
  color: $black;
  font-family: "Open Sans", arial, sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 33px;
  text-transform: none;
}

h1 {
  font-size: 26px;
}

h2 {
  border-bottom: 1px solid $grey;
  font-size: 24px;
  padding-bottom: 10px;
}

h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

h4 {
  font-size: 18px;
  margin-bottom: 18px;
}

h5 {
  font-size: 16px;
  margin-bottom: 15px;
}

h6 {
  font-size: 14px;
  margin-bottom: 12px;
}

p {
  line-height: 1.8;
  margin: 0 0 30px;
}

a {
  color: $link;
  text-decoration: none;
}

ul, ol {
  list-style-position: inside;
  line-height: 1.8;
  margin: 0 0 40px;
  padding: 0;
}
ul li, ol li {
  margin: 0 0 10px;
}

blockquote {
  border-left: 1px dotted #303030;
  margin: 40px 0;
  padding: 5px 30px;
}
blockquote p {
  color: #AEADAD;
  display: block;
  font-style: italic;
  margin: 0;
  width: 100%;
}

img {
  display: block;
  margin: 40px 0;
  width: auto;
  max-width: 100%;
}

pre {
  background: #F1F0EA;
  border: 1px solid #DDDBCC;
  border-radius: 3px;
  margin: 0 0 40px;
  padding: 15px 20px;
}

::selection {
  background: $selection;
  color: #000;
  display: block;
}

::-moz-selection {
  background: $selection;
  color: #000;
  display: block;
}
