/* Primary Colors */
$blue: hsla(209, 41%, 62%, 1.0);
$grey: hsla(0, 0%, 26%, 1.0);
$black: hsla(0, 0%, 20%, 1.0);

/* Links */
$link: hsla(197, 68%, 53%, 1.0);

/* Selections */
$selection: hsla(197, 68%, 53%, 1.0);

/* Buttons */
$button-grey: hsla(209, 26%, 37%, 1.0);
$button-blue: hsla(209, 41%, 62%, 1.0);
