.footer {
  background: #303030;
  color: #D3D3D3;
  font-size: 16px;
  height: 123px;

  .site-title-wrapper {
    margin: 80px auto 35px;
  }
}

.ego-plugs {
  text-align: center;
  padding: 33px 50px 0;

  i {
    color: $grey;
    font-size: 22px;
    font-weight: 700;
    margin-left: 12px;

    &:hover {
      color: $blue;
    }

    &:first {
      margin-left: none;
    }
  }
}

.attributions {
  color: #656565;
  font-size: 14px;
  margin: 0;
  padding: 15px 50px 33px;
  text-align: center;
  text-transform: uppercase;

  
  a {
    color: $grey;
    font-weight: 700;

    &:hover {
      color: $blue;
    }

  }
}
