@media only screen and (max-width: 600px) {
  .post-stub-title {
    display: block;
  }

  .post-stub-date:before {
    content: "";
    display: block;
  }
}
@media only screen and (max-width: 400px) {
  .post-title {
    font-size: 32px;
  }
}
