.post {
  margin: 80px 40px 0;
}

.post-header {
  border-bottom: 3px solid #303030;
  margin: 0 0 80px;
  padding: 0 0 80px;
  text-align: center;
  text-transform: uppercase;
}

.post-title {
  font-size: 52px;
  font-weight: 700;
  margin: 15px 0;
  text-transform: uppercase;
}

.post-date {
  color: #AEADAD;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  margin: 25px 0 0;
}

.post-content {
  margin: 0 0 92px;

  a:hover {
    border-bottom: 1px dotted $link;
    padding: 0 0 2px;
  }
}

.post-tags {
  color: #AEADAD;
  font-size: 14px;

  span {
    font-weight: 600;
  }
}

.post-navigation {
  display: table;
  margin: 70px auto 100px;
}

.newer-posts,
.older-posts {
  float: left;
  background: #f03838;
  color: #FEFEFE;
  font-size: 14px;
  font-weight: 600;
  margin: 0 5px;
  padding: 5px 10px 6px;
  text-transform: uppercase;

  &:hover {
    background: #303030;
  }
}

.page-number {
  display: none;
}
